body {
  background-color: #e0dddd;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  flex-direction: row;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 0.5rem;
  width: 50%;
  margin-top: 5rem;
}

.header p {
  margin: 0;
  font-size: 1.2rem;
}

.header i {
  margin-left: auto;
}

.input-div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 0.5rem;
  width: 50%;
  height: 2rem;
  margin-top: 0.2rem;
}

.input-div input {
  flex-grow: 1;
  border: none;
  font-size: 1rem;
}

input::placeholder {
  font-size: 16px;
  font-style: italic;
}

.list-items {
  list-style: none;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  position: relative;
  left: -1.2rem;
}

.display-item {
  display: flex;
  justify-content: center;
  background-color: #fff;
  align-items: center;
  margin-top: 0.2rem;
  width: 100%;
  font-size: 1rem;
  height: 2.6rem;
  padding-inline: 8px;
}

.display-item p {
  font-size: 1.1rem;
}

.display-item .edit-input {
  font-size: 1.1rem;
  height: 2rem;
  border: none;
}

.display-item input[type="checkbox"] {
  margin-right: 20px;
  align-self: flex-start;
  margin-top: 0.7rem;
}

.display-item .dot-icon,
.delete-icon {
  margin-left: auto;
  align-self: flex-end;
  height: 0.5rem;
  position: relative;
  top: -1rem;
}

.clear {
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ebeeee;
  padding: 0.5rem;
  margin-top: 0.2rem;
  font-size: 18px;
  color: gray;
  width: 50%;
  text-align: center;
  padding-top: 16px;
  cursor: pointer;
}
